
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
scroll-behavior: smooth;
}
body{
background-color: #FADBD8;
width: 100%;
}

p{
/* font-weight: 800; */
color: rgb(104, 99, 99);
}

header{
position: fixed;
top: 0%;
left: 0%;
padding: 0px 5px;
/* margin-top: 10px; */
width: 100%;
z-index: 1;  /*dcfvgbhnj,k;l:m!ù:mlkjhgfdxcfvgbhnj,k;*/
display: flex;
justify-content: space-evenly;
align-items: center;
transform: 0.5s;
background-color: #fff;
animation: slideInDown 1s ease-in-out;

}

.logo{
color: white;
font-weight: bold;
font-size: 0em;
text-decoration: none;
}
.logo img{ 
font-weight: bold;
width: 170px;
height: 60px;
animation: fadeIn 2s ease-in-out;

}

.logo span{
color: rgb(212, 100, 24);
}

.navbar{
display: flex;
position: relative;
margin-left: 210px;
animation: fadeInUp 2s ease-in-out;

}

.navbar li{
list-style: none;
}

.navbar a{
/* color: rgb(58, 52, 52);
 */
color: black;
text-decoration: none;
margin-left: 30px;
font-weight: 700;
animation: fadeInUp 1.5s ease-in-out;
  
}
.titre-texte{
    font-family:'Times New Roman', Times, serif;
}

.btn-reserve1{
padding: 10px 20px;
background:  #C94842;
color: white;
margin-top: -10px;
animation: bounceIn 1.5s ease-in-out;
text-transform: uppercase;
}

.btn-reserve1:hover{
background: #612320;
transition: ease-out;
}

header .navbar li a:hover{
color: #C94842;
border-bottom: 2px solid rgb(241, 186, 186);
}

.banniere{
position: relative;
width:100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(images/restaurant.jpeg);
background-size: cover;
animation: zoomIn 2s ease-in-out;

}

.banniere .contenu{
max-width: 80%;
text-align: center;
margin-top: -120px;
animation: fadeIn 3s ease-in-out;
}

.banniere .contenu h2{
color: white;
font-size: 2.7em;
text-transform: capitalize;
margin-top:10px;
margin-left: -65px;
animation: slideInLeft 1s ease-in-out;

}
.banniere .contenu p{
color: white;
margin-top:120px;
}


.img {
    min-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: zoomIn 1.5s ease-in-out;
}

.img img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



.contenu p:nth-child(2){
color: white;
font-size: 1.6em;
margin-left: 5px; 

}

.btn1{
font-size: 1em;
color: #fff;
background:rgb(212, 100, 24);
padding: 10px 20px ;
display: inline-block;
margin-top: 20px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.5s;
margin-left: 10px; 
}

.btn2{
font-size: 1em;
color:#fff ;
background: #2a4963;
padding: 10px 20px;
display: inline-block;
margin-top: 20px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.5s;
margin-left: 10px;
}

.btn1:hover{ 
letter-spacing: 4px;
}
section{
padding: 100px;
}




.menu{
background:#FADBD8;
width: 100%;
/* display: flex; */
align-items: center;
justify-content: center;
margin: -5% auto;

}
.menu .grand-titre{
color: #555;
width: 100%;
/* text-align: center; */
margin-top: 60px;
margin-left: 25px;
font-weight: 800;
font-size: 2.1em;                         ;
}
.menu h2{
color: #555;
width: 100%;
/* text-align: center; */
margin-top: 60px;
margin-left: 10px;
font-weight: 800;
font-size: 2.1em;                         ;
}
.row1{
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
margin-left: -110px;
margin-top: -30px;
}
#backBtn{
width: 3%;
height: 3%;
margin-top: 130px;
margin-left: 20px;
cursor: pointer;
border-radius: 100%;
}
#nextBtn{
width: 3%;
height: 3%;
margin-top: 130px;
margin-left: -75px;
cursor: pointer;
border-radius: 100%;
}
.row1::-webkit-scrollbar{
display: none;
}
.row1 .col50 {
/* width:100%; */
display: grid;
grid-template-columns: auto auto auto;
grid-gap:20px;
padding:30px;
margin-left: 15px;
flex: none;
}
.row1 .col50 img{
height: 200px;
width:250px;
position: relative;
margin-left: -30px;
}
.row1 .col50 img:hover{
filter: grayscale(0);
cursor: pointer;
transform: scale(1.1);
}
.row1 .col50 .description{
text-align: center;
align-items: center;
margin-top: -50px;
margin-left: -50px;
font-size: 0.9em;
font-weight: 500;
}
.row1 .col50 .description span{
color: #676565;
font-size: 1.1em;
font-weight: 900;
}
#btn-reserve2{
text-decoration: none;
font-weight: 600;
margin-left: 450px;
animation: bounceIn 1.5s ease-in-out;

}




.table{
background:#FADBD8;
width: 100%;
/* display: flex; */
align-items: center;
justify-content: center;
margin: -5% auto;
margin-top: -200px;

}
.table .grand-titre{
color: #555;
width: 100%;
/* text-align: center; */
margin-top: 60px;
margin-left: 25px;
font-weight: 800;
font-size: 2.1em;                         ;
}
.table h2{
color: #555;
width: 100%;
/* text-align: center; */
margin-top: 60px;
margin-left: 10px;
font-weight: 800;
font-size: 2.1em;                         ;
}
.row1{
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
margin-left: -110px;
margin-top: -30px;
}
#backBtn{
width: 5%;
height: 5%;
margin-top: 130px;
margin-left: 20px;
}
#nextBtn{
width: 5%;
height: 5%;
margin-top: 130px;
margin-left: -55px;
}
.row1::-webkit-scrollbar{
display: none;
}
.row1 .col50 {
/* width:100%; */
display: grid;
grid-template-columns: auto auto auto;
grid-gap:20px;
padding:30px;
margin-left: 15px;
flex: none;

}
.row1 .col50 img{
height: 200px;
width:300px;
position: relative;
margin-left: -60px;
}
.row1 .col50 img:hover{
filter: grayscale(0);
cursor: pointer;
transform: scale(1.1);
}



.infos{
display: flex;
justify-content: space-between;
margin-left: -10px;
width: 100%;
margin-top: -150px;
}
.infos .section{
width: 20%;
padding: 5px;
}
.infos .section h1{
color: #C94842;
}
#section1{
margin-top: 50px;
}



.footer{
    background-color: #C94842;
    color: #FFFAE1;
    width: 100%;
    padding: 20px 120px 60px 0;
    /* margin: 10px 0; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.footer .partie{
    text-align: justify;
    /* margin-top: 10px; */
    margin-left: 120px;
    margin-top: 50px;
}
.footer #partie1{
    text-align: justify;
    margin-top: 70px;
    margin-left:200px;
}
.footer .partie .titre_footer{
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 800;
}
.footer .partie p{
    color: white;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 15px;
}
.footer .partie2{
    margin-left: 30px;
    margin-right: -95px;
    /* margin-top: 20px; */
}




@media (max-width: 991px){
header, header.sticky{
padding: 10px 20px;
}
header .navbar li {
margin-left: 0px;
}
header .navbar li a{
text-decoration: none;
color: #111;
font-size: 1.6em;
font-weight: 300;
}

.navbar{
display: none;
}
section{
padding: 20px;
}

header .navbar.active{
width: 100%;
height: calc(100% -68px);
position: fixed;
top: 68px;
left: 0;
display: flex;
justify-content: center;
flex-direction: column;
background: #fff;
align-items: center;
}

.menutoggle{
position: relative;
width: 40px;
height: 40px;
background-image: url(images/20.jpg);
background-repeat:no-repeat ;
background-position: center;
cursor: pointer;
}
.menutoggle.active{
background-image: url(images/12g.jfif);
background-size: 30px;
background-repeat: no-repeat;
background-origin: content;
}
header.sticky .menutoggle{
filter:invert(1);
}

.banniere .contenu h2{
font-size: 2em;
} 

.contenu p:nth-child(2){
font-size: 1.2em;
}
.expert{
margin-top: 0px;
}
.menu{
margin-top: 0px;
}
.row{
display: flex;
flex-direction: column;
}

@media (max-width: 480px)
{
.banniere .contenu h2{
    font-size: 2.2em;
    color: #fff;
}

.titre-text{
    color: #000;
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
}

.temoignage h2{
    font-size: 1.1em;
}

.temoignage p{
    text-align: center;
}
}
}




@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
